// @include for-tablet-only {}
// @include phone {}

// style={{ display: "none" }}

.section-animation {
    animation: section_anim 1s ease-in-out forwards;
}

.play-animated {
    &:hover {
        .gcZIvSrk_0 {
            stroke-dasharray: 63 65;
            stroke-dashoffset: 64;
            animation: gcZIvSrk_draw 1333ms linear 0ms forwards;
        }

        .gcZIvSrk_1 {
            stroke-dasharray: 23 25;
            stroke-dashoffset: 24;
            animation: gcZIvSrk_draw 1333ms linear 666ms forwards;
        }

        @keyframes gcZIvSrk_draw {
            100% {
                stroke-dashoffset: 0;
            }
        }

        @keyframes gcZIvSrk_fade {
            0% {
                stroke-opacity: 1;
            }

            93.54838709677419% {
                stroke-opacity: 1;
            }

            100% {
                stroke-opacity: 0;
            }
        }
    }
}

.play-icon {
    &:hover {
        .play-anim {
            .CIHAmyBr_0 {
                stroke-dasharray:1200 1202;
                stroke-dashoffset:1201;
                animation:CIHAmyBr_draw 2000ms linear 0ms forwards;
            }
            .CIHAmyBr_1 {
                stroke-dasharray:27 29;
                stroke-dashoffset:28;
                animation:CIHAmyBr_draw 2000ms linear 250ms forwards;
            }
            .CIHAmyBr_2 {
                stroke-dasharray:406 408;
                stroke-dashoffset:407;
                animation:CIHAmyBr_draw 2000ms linear 500ms forwards;
            }
            .CIHAmyBr_3 {
                stroke-dasharray:66 68;
                stroke-dashoffset:67;
                animation:CIHAmyBr_draw 2000ms linear 750ms forwards;
            }
            .CIHAmyBr_4 {
                stroke-dasharray:66 68;
                stroke-dashoffset:67;
                animation:CIHAmyBr_draw 2000ms linear 1000ms forwards;
            }
            @keyframes CIHAmyBr_draw {
                100% {
                    stroke-dashoffset:0;
                }
            }
            @keyframes CIHAmyBr_fade {
                0% {
                    stroke-opacity:1;
                }
                94.44444444444444% {
                    stroke-opacity:1;
                }
                100% {
                    stroke-opacity:0;
                }
            }
        }
    }
}

.user-flow-wrapper figure {
    &.section-animation {
        img {
            .sqYGqfGD_0 {
                stroke-dasharray: 551 553;
                stroke-dashoffset: 552;
                animation: sqYGqfGD_draw 200ms linear 0ms forwards;
            }

            .sqYGqfGD_1 {
                stroke-dasharray: 155 157;
                stroke-dashoffset: 156;
                animation: sqYGqfGD_draw 200ms linear 1ms forwards;
            }

            .sqYGqfGD_2 {
                stroke-dasharray: 337 339;
                stroke-dashoffset: 338;
                animation: sqYGqfGD_draw 200ms linear 2ms forwards;
            }

            .sqYGqfGD_3 {
                stroke-dasharray: 27 29;
                stroke-dashoffset: 28;
                animation: sqYGqfGD_draw 200ms linear 3ms forwards;
            }

            .sqYGqfGD_4 {
                stroke-dasharray: 26 28;
                stroke-dashoffset: 27;
                animation: sqYGqfGD_draw 200ms linear 4ms forwards;
            }

            .sqYGqfGD_5 {
                stroke-dasharray: 63 65;
                stroke-dashoffset: 64;
                animation: sqYGqfGD_draw 200ms linear 5ms forwards;
            }

            .sqYGqfGD_6 {
                stroke-dasharray: 27 29;
                stroke-dashoffset: 28;
                animation: sqYGqfGD_draw 200ms linear 6ms forwards;
            }

            .sqYGqfGD_7 {
                stroke-dasharray: 26 28;
                stroke-dashoffset: 27;
                animation: sqYGqfGD_draw 200ms linear 7ms forwards;
            }

            .sqYGqfGD_8 {
                stroke-dasharray: 69 71;
                stroke-dashoffset: 70;
                animation: sqYGqfGD_draw 200ms linear 9ms forwards;
            }

            .sqYGqfGD_9 {
                stroke-dasharray: 533 535;
                stroke-dashoffset: 534;
                animation: sqYGqfGD_draw 200ms linear 10ms forwards;
            }

            .sqYGqfGD_10 {
                stroke-dasharray: 411 413;
                stroke-dashoffset: 412;
                animation: sqYGqfGD_draw 200ms linear 11ms forwards;
            }

            .sqYGqfGD_11 {
                stroke-dasharray: 105 107;
                stroke-dashoffset: 106;
                animation: sqYGqfGD_draw 200ms linear 12ms forwards;
            }

            .sqYGqfGD_12 {
                stroke-dasharray: 103 105;
                stroke-dashoffset: 104;
                animation: sqYGqfGD_draw 200ms linear 13ms forwards;
            }

            .sqYGqfGD_13 {
                stroke-dasharray: 551 553;
                stroke-dashoffset: 552;
                animation: sqYGqfGD_draw 200ms linear 14ms forwards;
            }

            .sqYGqfGD_14 {
                stroke-dasharray: 141 143;
                stroke-dashoffset: 142;
                animation: sqYGqfGD_draw 200ms linear 15ms forwards;
            }

            .sqYGqfGD_15 {
                stroke-dasharray: 98 100;
                stroke-dashoffset: 99;
                animation: sqYGqfGD_draw 200ms linear 17ms forwards;
            }

            .sqYGqfGD_16 {
                stroke-dasharray: 799 801;
                stroke-dashoffset: 800;
                animation: sqYGqfGD_draw 200ms linear 18ms forwards;
            }

            .sqYGqfGD_17 {
                stroke-dasharray: 27 29;
                stroke-dashoffset: 28;
                animation: sqYGqfGD_draw 200ms linear 19ms forwards;
            }

            .sqYGqfGD_18 {
                stroke-dasharray: 26 28;
                stroke-dashoffset: 27;
                animation: sqYGqfGD_draw 200ms linear 20ms forwards;
            }

            .sqYGqfGD_19 {
                stroke-dasharray: 72 74;
                stroke-dashoffset: 73;
                animation: sqYGqfGD_draw 200ms linear 21ms forwards;
            }

            .sqYGqfGD_20 {
                stroke-dasharray: 164 166;
                stroke-dashoffset: 165;
                animation: sqYGqfGD_draw 200ms linear 22ms forwards;
            }

            .sqYGqfGD_21 {
                stroke-dasharray: 551 553;
                stroke-dashoffset: 552;
                animation: sqYGqfGD_draw 200ms linear 23ms forwards;
            }

            .sqYGqfGD_22 {
                stroke-dasharray: 98 100;
                stroke-dashoffset: 99;
                animation: sqYGqfGD_draw 200ms linear 25ms forwards;
            }

            .sqYGqfGD_23 {
                stroke-dasharray: 46 48;
                stroke-dashoffset: 47;
                animation: sqYGqfGD_draw 200ms linear 26ms forwards;
            }

            .sqYGqfGD_24 {
                stroke-dasharray: 551 553;
                stroke-dashoffset: 552;
                animation: sqYGqfGD_draw 200ms linear 27ms forwards;
            }

            .sqYGqfGD_25 {
                stroke-dasharray: 98 100;
                stroke-dashoffset: 99;
                animation: sqYGqfGD_draw 200ms linear 28ms forwards;
            }

            .sqYGqfGD_26 {
                stroke-dasharray: 117 119;
                stroke-dashoffset: 118;
                animation: sqYGqfGD_draw 200ms linear 29ms forwards;
            }

            .sqYGqfGD_27 {
                stroke-dasharray: 639 641;
                stroke-dashoffset: 640;
                animation: sqYGqfGD_draw 200ms linear 30ms forwards;
            }

            .sqYGqfGD_28 {
                stroke-dasharray: 551 553;
                stroke-dashoffset: 552;
                animation: sqYGqfGD_draw 200ms linear 31ms forwards;
            }

            .sqYGqfGD_29 {
                stroke-dasharray: 98 100;
                stroke-dashoffset: 99;
                animation: sqYGqfGD_draw 200ms linear 32ms forwards;
            }

            .sqYGqfGD_30 {
                stroke-dasharray: 122 124;
                stroke-dashoffset: 123;
                animation: sqYGqfGD_draw 200ms linear 34ms forwards;
            }

            .sqYGqfGD_31 {
                stroke-dasharray: 378 380;
                stroke-dashoffset: 379;
                animation: sqYGqfGD_draw 200ms linear 35ms forwards;
            }

            .sqYGqfGD_32 {
                stroke-dasharray: 27 29;
                stroke-dashoffset: 28;
                animation: sqYGqfGD_draw 200ms linear 36ms forwards;
            }

            .sqYGqfGD_33 {
                stroke-dasharray: 26 28;
                stroke-dashoffset: 27;
                animation: sqYGqfGD_draw 200ms linear 37ms forwards;
            }

            .sqYGqfGD_34 {
                stroke-dasharray: 71 73;
                stroke-dashoffset: 72;
                animation: sqYGqfGD_draw 200ms linear 38ms forwards;
            }

            .sqYGqfGD_35 {
                stroke-dasharray: 27 29;
                stroke-dashoffset: 28;
                animation: sqYGqfGD_draw 200ms linear 39ms forwards;
            }

            .sqYGqfGD_36 {
                stroke-dasharray: 26 28;
                stroke-dashoffset: 27;
                animation: sqYGqfGD_draw 200ms linear 40ms forwards;
            }

            .sqYGqfGD_37 {
                stroke-dasharray: 67 69;
                stroke-dashoffset: 68;
                animation: sqYGqfGD_draw 200ms linear 42ms forwards;
            }

            .sqYGqfGD_38 {
                stroke-dasharray: 27 29;
                stroke-dashoffset: 28;
                animation: sqYGqfGD_draw 200ms linear 43ms forwards;
            }

            .sqYGqfGD_39 {
                stroke-dasharray: 26 28;
                stroke-dashoffset: 27;
                animation: sqYGqfGD_draw 200ms linear 44ms forwards;
            }

            .sqYGqfGD_40 {
                stroke-dasharray: 67 69;
                stroke-dashoffset: 68;
                animation: sqYGqfGD_draw 200ms linear 45ms forwards;
            }

            .sqYGqfGD_41 {
                stroke-dasharray: 95 97;
                stroke-dashoffset: 96;
                animation: sqYGqfGD_draw 200ms linear 46ms forwards;
            }

            .sqYGqfGD_42 {
                stroke-dasharray: 85 87;
                stroke-dashoffset: 86;
                animation: sqYGqfGD_draw 200ms linear 47ms forwards;
            }

            .sqYGqfGD_43 {
                stroke-dasharray: 583 585;
                stroke-dashoffset: 584;
                animation: sqYGqfGD_draw 200ms linear 48ms forwards;
            }

            .sqYGqfGD_44 {
                stroke-dasharray: 26 28;
                stroke-dashoffset: 27;
                animation: sqYGqfGD_draw 200ms linear 50ms forwards;
            }

            .sqYGqfGD_45 {
                stroke-dasharray: 27 29;
                stroke-dashoffset: 28;
                animation: sqYGqfGD_draw 200ms linear 51ms forwards;
            }

            .sqYGqfGD_46 {
                stroke-dasharray: 27 29;
                stroke-dashoffset: 28;
                animation: sqYGqfGD_draw 200ms linear 52ms forwards;
            }

            .sqYGqfGD_47 {
                stroke-dasharray: 294 296;
                stroke-dashoffset: 295;
                animation: sqYGqfGD_draw 200ms linear 53ms forwards;
            }

            .sqYGqfGD_48 {
                stroke-dasharray: 784 786;
                stroke-dashoffset: 785;
                animation: sqYGqfGD_draw 200ms linear 54ms forwards;
            }

            .sqYGqfGD_49 {
                stroke-dasharray: 26 28;
                stroke-dashoffset: 27;
                animation: sqYGqfGD_draw 200ms linear 55ms forwards;
            }

            .sqYGqfGD_50 {
                stroke-dasharray: 27 29;
                stroke-dashoffset: 28;
                animation: sqYGqfGD_draw 200ms linear 56ms forwards;
            }

            .sqYGqfGD_51 {
                stroke-dasharray: 185 187;
                stroke-dashoffset: 186;
                animation: sqYGqfGD_draw 200ms linear 57ms forwards;
            }

            .sqYGqfGD_52 {
                stroke-dasharray: 551 553;
                stroke-dashoffset: 552;
                animation: sqYGqfGD_draw 200ms linear 59ms forwards;
            }

            .sqYGqfGD_53 {
                stroke-dasharray: 98 100;
                stroke-dashoffset: 99;
                animation: sqYGqfGD_draw 200ms linear 60ms forwards;
            }

            .sqYGqfGD_54 {
                stroke-dasharray: 114 116;
                stroke-dashoffset: 115;
                animation: sqYGqfGD_draw 200ms linear 61ms forwards;
            }

            .sqYGqfGD_55 {
                stroke-dasharray: 175 177;
                stroke-dashoffset: 176;
                animation: sqYGqfGD_draw 200ms linear 62ms forwards;
            }

            .sqYGqfGD_56 {
                stroke-dasharray: 551 553;
                stroke-dashoffset: 552;
                animation: sqYGqfGD_draw 200ms linear 63ms forwards;
            }

            .sqYGqfGD_57 {
                stroke-dasharray: 98 100;
                stroke-dashoffset: 99;
                animation: sqYGqfGD_draw 200ms linear 64ms forwards;
            }

            .sqYGqfGD_58 {
                stroke-dasharray: 65 67;
                stroke-dashoffset: 66;
                animation: sqYGqfGD_draw 200ms linear 65ms forwards;
            }

            .sqYGqfGD_59 {
                stroke-dasharray: 227 229;
                stroke-dashoffset: 228;
                animation: sqYGqfGD_draw 200ms linear 67ms forwards;
            }

            .sqYGqfGD_60 {
                stroke-dasharray: 551 553;
                stroke-dashoffset: 552;
                animation: sqYGqfGD_draw 200ms linear 68ms forwards;
            }

            .sqYGqfGD_61 {
                stroke-dasharray: 98 100;
                stroke-dashoffset: 99;
                animation: sqYGqfGD_draw 200ms linear 69ms forwards;
            }

            .sqYGqfGD_62 {
                stroke-dasharray: 116 118;
                stroke-dashoffset: 117;
                animation: sqYGqfGD_draw 200ms linear 70ms forwards;
            }

            .sqYGqfGD_63 {
                stroke-dasharray: 595 597;
                stroke-dashoffset: 596;
                animation: sqYGqfGD_draw 200ms linear 71ms forwards;
            }

            .sqYGqfGD_64 {
                stroke-dasharray: 551 553;
                stroke-dashoffset: 552;
                animation: sqYGqfGD_draw 200ms linear 72ms forwards;
            }

            .sqYGqfGD_65 {
                stroke-dasharray: 98 100;
                stroke-dashoffset: 99;
                animation: sqYGqfGD_draw 200ms linear 73ms forwards;
            }

            .sqYGqfGD_66 {
                stroke-dasharray: 104 106;
                stroke-dashoffset: 105;
                animation: sqYGqfGD_draw 200ms linear 75ms forwards;
            }

            .sqYGqfGD_67 {
                stroke-dasharray: 448 450;
                stroke-dashoffset: 449;
                animation: sqYGqfGD_draw 200ms linear 76ms forwards;
            }

            .sqYGqfGD_68 {
                stroke-dasharray: 551 553;
                stroke-dashoffset: 552;
                animation: sqYGqfGD_draw 200ms linear 77ms forwards;
            }

            .sqYGqfGD_69 {
                stroke-dasharray: 98 100;
                stroke-dashoffset: 99;
                animation: sqYGqfGD_draw 200ms linear 78ms forwards;
            }

            .sqYGqfGD_70 {
                stroke-dasharray: 104 106;
                stroke-dashoffset: 105;
                animation: sqYGqfGD_draw 200ms linear 79ms forwards;
            }

            .sqYGqfGD_71 {
                stroke-dasharray: 288 290;
                stroke-dashoffset: 289;
                animation: sqYGqfGD_draw 200ms linear 80ms forwards;
            }

            .sqYGqfGD_72 {
                stroke-dasharray: 551 553;
                stroke-dashoffset: 552;
                animation: sqYGqfGD_draw 200ms linear 81ms forwards;
            }

            .sqYGqfGD_73 {
                stroke-dasharray: 57 59;
                stroke-dashoffset: 58;
                animation: sqYGqfGD_draw 200ms linear 82ms forwards;
            }

            .sqYGqfGD_74 {
                stroke-dasharray: 98 100;
                stroke-dashoffset: 99;
                animation: sqYGqfGD_draw 200ms linear 84ms forwards;
            }

            .sqYGqfGD_75 {
                stroke-dasharray: 366 368;
                stroke-dashoffset: 367;
                animation: sqYGqfGD_draw 200ms linear 85ms forwards;
            }

            .sqYGqfGD_76 {
                stroke-dasharray: 551 553;
                stroke-dashoffset: 552;
                animation: sqYGqfGD_draw 200ms linear 86ms forwards;
            }

            .sqYGqfGD_77 {
                stroke-dasharray: 98 100;
                stroke-dashoffset: 99;
                animation: sqYGqfGD_draw 200ms linear 87ms forwards;
            }

            .sqYGqfGD_78 {
                stroke-dasharray: 104 106;
                stroke-dashoffset: 105;
                animation: sqYGqfGD_draw 200ms linear 88ms forwards;
            }

            .sqYGqfGD_79 {
                stroke-dasharray: 27 29;
                stroke-dashoffset: 28;
                animation: sqYGqfGD_draw 200ms linear 89ms forwards;
            }

            .sqYGqfGD_80 {
                stroke-dasharray: 244 246;
                stroke-dashoffset: 245;
                animation: sqYGqfGD_draw 200ms linear 90ms forwards;
            }

            .sqYGqfGD_81 {
                stroke-dasharray: 26 28;
                stroke-dashoffset: 27;
                animation: sqYGqfGD_draw 200ms linear 92ms forwards;
            }

            .sqYGqfGD_82 {
                stroke-dasharray: 27 29;
                stroke-dashoffset: 28;
                animation: sqYGqfGD_draw 200ms linear 93ms forwards;
            }

            .sqYGqfGD_83 {
                stroke-dasharray: 244 246;
                stroke-dashoffset: 245;
                animation: sqYGqfGD_draw 200ms linear 94ms forwards;
            }

            .sqYGqfGD_84 {
                stroke-dasharray: 244 246;
                stroke-dashoffset: 245;
                animation: sqYGqfGD_draw 200ms linear 95ms forwards;
            }

            .sqYGqfGD_85 {
                stroke-dasharray: 26 28;
                stroke-dashoffset: 27;
                animation: sqYGqfGD_draw 200ms linear 96ms forwards;
            }

            .sqYGqfGD_86 {
                stroke-dasharray: 27 29;
                stroke-dashoffset: 28;
                animation: sqYGqfGD_draw 200ms linear 97ms forwards;
            }

            .sqYGqfGD_87 {
                stroke-dasharray: 244 246;
                stroke-dashoffset: 245;
                animation: sqYGqfGD_draw 200ms linear 98ms forwards;
            }

            .sqYGqfGD_88 {
                stroke-dasharray: 26 28;
                stroke-dashoffset: 27;
                animation: sqYGqfGD_draw 200ms linear 100ms forwards;
            }

            @keyframes sqYGqfGD_draw {
                100% {
                    stroke-dashoffset: 0;
                }
            }

            @keyframes sqYGqfGD_fade {
                0% {
                    stroke-opacity: 1;
                }

                91.11111111111111% {
                    stroke-opacity: 1;
                }

                100% {
                    stroke-opacity: 0;
                }
            }
        }
    }
}

.services-card {
    &.revealed {
        .ui-design-svg {
            .HKspAdNn_0{
                stroke-dasharray:249 251;
                stroke-dashoffset:250;
                animation:HKspAdNn_draw 2000ms linear 0ms forwards;
            }
            .HKspAdNn_1{
                stroke-dasharray:173 175;
                stroke-dashoffset:174;
                animation:HKspAdNn_draw 2000ms linear 333ms forwards;
            }
            .HKspAdNn_2{
                stroke-dasharray:65 67;
                stroke-dashoffset:66;
                animation:HKspAdNn_draw 2000ms linear 666ms forwards;
            }
            .HKspAdNn_3{
                stroke-dasharray:148 150;
                stroke-dashoffset:149;
                animation:HKspAdNn_draw 2000ms linear 1000ms forwards;
            }

            @keyframes HKspAdNn_draw{
                100%{
                    stroke-dashoffset:0;
                }
            }

            @keyframes HKspAdNn_fade{
                0%{
                    stroke-opacity:1;
                }
                94.44444444444444%{
                    stroke-opacity:1;
                }
                100%{
                    stroke-opacity:0;
                }
            }
        }
        .dev-svg {
            .UDOVyDSw_0 {
                stroke-dasharray:249 251;
                stroke-dashoffset:250;
                animation:UDOVyDSw_draw 2000ms linear 0ms forwards;
            }
            .UDOVyDSw_1 {
                stroke-dasharray:231 233;
                stroke-dashoffset:232;
                animation:UDOVyDSw_draw 2000ms linear 333ms forwards;
            }
            .UDOVyDSw_2 {
                stroke-dasharray:69 71;
                stroke-dashoffset:70;
                animation:UDOVyDSw_draw 2000ms linear 666ms forwards;
            }
            .UDOVyDSw_3 {
                stroke-dasharray:146 148;
                stroke-dashoffset:147;
                animation:UDOVyDSw_draw 2000ms linear 1000ms forwards;
            }
            @keyframes UDOVyDSw_draw {
                100% {
                    stroke-dashoffset:0;
                }
            }
            @keyframes UDOVyDSw_fade {
                0% {
                    stroke-opacity:1;
                }
                94.44444444444444% {
                    stroke-opacity:1;
                }
                100% {
                    stroke-opacity:0;
                }
            }
        }
        .full-package-svg {
            .ricFKWDf_0 {
                stroke-dasharray:249 251;
                stroke-dashoffset:250;
                animation:ricFKWDf_draw 2000ms linear 0ms forwards;
            }
            .ricFKWDf_1 {
                stroke-dasharray:100 102;
                stroke-dashoffset:101;
                animation:ricFKWDf_draw 2000ms linear 333ms forwards;
            }
            .ricFKWDf_2 {
                stroke-dasharray:65 67;
                stroke-dashoffset:66;
                animation:ricFKWDf_draw 2000ms linear 666ms forwards;
            }
            .ricFKWDf_3 {
                stroke-dasharray:161 163;
                stroke-dashoffset:162;
                animation:ricFKWDf_draw 2000ms linear 1000ms forwards;
            }
            @keyframes ricFKWDf_draw {
                100% {
                    stroke-dashoffset:0;
                }
            }
            @keyframes ricFKWDf_fade {
                0% {
                    stroke-opacity:1;
                }
                94.44444444444444% {
                    stroke-opacity:1;
                }
                100% {
                    stroke-opacity:0;
                }
            }
        }
    }
}



.buttons {
    position: absolute;
    inset: 0;
    height: 100%;
    right: 0;
    width: 50%;
    z-index: 9;
    cursor: unset;
    margin-left: auto;
    .mf-cursor-media {
        position: absolute;
        width: 48px !important;
        height: 48px !important;
        margin: -150px 0 0 -150px;
    }
    button {
        height: 100%;
        width: 40%;
        background: transparent;
        img {
            opacity: 0;
        }
        &#projectNext {
            position: absolute;
            z-index: 9;
            right: 0;
            display: none;
        }
    }
}












