$pitch-black: #000;
$black: #0D0D0D;
$gray-black: #222;
$para-black: #333;
$background-white: #E6EDED;
$background-blue: #F9FAFA;
$white: #fff;
$pink: #FFE9DF;
$dark-blue: #102FC9;
// $dark-blue: #1458ea;
$orange: #FC5602;
$light-orange: #FFE9DF;
$bo-gradient: linear-gradient(90deg, #102FC9 0%, #FC5602 100%);
$light-bo : linear-gradient(90deg, rgba(16, 47, 201, 0.2) 0%, rgba(252, 86, 2, 0.2) 100%);