@font-face {
  font-family: "gilroy-extrabold";
  font-style: normal;
  src: url("../fonts/gilroy-extrabold.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "gilroy-bold";
  font-style: normal;
  src: url("../fonts/gilroy-bold/font.woff");
  font-weight: 700;
}

@font-face {
  font-family: "gilroy-semibold";
  font-style: normal;
  src: url("../fonts/gilroy-semibold/font.woff");
  font-weight: 600;
}

@font-face {
  font-family: "gilroy-regular";
  font-style: normal;
  src: url("../fonts/gilroy-regular/font.woff");
  font-weight: 500;
}

@font-face {
  font-family: "gilroy-light";
  font-style: normal;
  src: url("../fonts/gilroy-light/font.woff");
  font-weight: 100;
}