.blogs-page-wrapper {
	section {
		&.blogs-hero {
			.div-wrap {
				padding: 32px 0 0 0;
				position: relative;
				&:after {
					position: absolute;
					content: "";
					background: $white;
					height: 56px;
					width: 100%;
					bottom: 0;
					z-index: -1;
				}
				.content-grid {
					display: grid;
					grid-template-columns: auto auto;
					justify-content: flex-start;
					@include for-tablet-only {}
					@include phone {
						grid-template-columns: auto;
						gap: 24px;
					}
					.content {
						padding-top: 100px;
						@include for-tablet-only {}
						@include phone {
							padding-top: 0;
						}
					}
					.visual-glance {
						figure {
							img {
								width: 428px;
								height: 428px;
								border-radius: 100%;
								margin-bottom: 16px;
								@include for-tablet-only {}
								@include phone {
									width: 100%;
									height: auto;
								}
							}
							figcaption {
								text-align: center;
								a {
									&.has_union_ {
										&:after {
											@include for-tablet-only {}
											@include phone {
												right: -12px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		&.top-design-topics-wrapper {
			padding: 40px 0 64px 0;
			background: $background-blue;
			@include for-tablet-only {}
			@include phone {
				padding: 32px 0 40px 0;
			}
			.div-wrap {
				.heading-wrap {
					margin-bottom: 24px;
					h2 {
						margin-bottom: 8px;
					}
					p {
						width: 60%;
						@include for-tablet-only {}
						@include phone {
							width: 100%;
						}
					}
				}
				.topdesign-articles-wrapper {
					.design-article-listing {
						display: grid;
						grid-template-columns: repeat(4,1fr);
						gap: 64px;
						align-items: flex-start;
						justify-content: flex-start;
						margin-bottom: 40px;
						@include for-tablet-only {}
						@include phone {
							grid-template-columns: repeat(1,1fr);
							gap: 32px;
							margin-bottom: 0;
						}
						.topdesign-card {
							transition-duration: 0.4s;
							cursor: pointer;
							@include for-tablet-only {}
							@include phone {
								width: 80%;
							}
							span {
								font-family: "gilroy-extrabold";
								font-style: normal;
								font-weight: 800;
								font-size: 72px;
								line-height: 84px;
								color: $black;
								opacity: 0.15;
								margin-bottom: 8px;
								transition-duration: 0.4s;
							}
							h3 {
								position: relative;
								transition-duration: 0.4s;
								&:before {
									position: absolute;
									content: "";
									background: $black;
									width: 0;
									height: 1px;
									left: 0;
									bottom: 0;
									transition-duration: 0.4s;
								}
							}
							&:hover {
								transition-duration: 0.4s;
								span {
									transition-duration: 0.4s;
									opacity: 1;
								}
								h3 {
									transition-duration: 0.4s;
									&:before {
										width: 100%;
										transition-duration: 0.4s;
									}
								}
							}
						}
					}
					.dribbble-call-div {
						background-image: url('../images/blog/dribble-cta-big.svg');
						background-position: center center;
						background-size: cover;
						padding: 48px 0 78px 0;
						@include for-tablet-only {}
						@include phone {
							display: none;
						}
						.left-container {
							padding-left: 286px;
							position: relative;
							@include for-tablet-only {}
							@include phone {
								padding-left: 24px;
								padding-right: 24px;
							}
							h2 {
								margin-bottom: 8px;
								color: $white;
							}
							p {
								color: rgba($white, 0.8);
							}
							.dribbble-colored {
								position: absolute;
								right: 64px;
								bottom: -100px;
							}
						}
					}
				}
			}
		}
	}
}

.single-blog-page {
	section {
		&.featured-articles-wrapper {
			background: $background-blue;
			padding: 64px 0 64px 0;
			position: relative;
		}
		&.content-main {
			margin-top: 64px;
			.div-wrap {
				.label-progress-bar {
					position: relative;
					progress {
						transform: rotate(90deg);
						width: 300px;
						position: fixed;
						height: 4px;
						appearance: none;
						background-color: rgba($dark-blue, 0.1);
						border: none;
						color: $dark-blue;
						left: -60px;
						bottom: 50%;
						@include for-tablet-only {}
						@include phone {
							display: none;
						}
					}

					progress::-webkit-progress-bar {
						background-color: transparent;
					}

					progress::-webkit-progress-value {
						background-color: rgba($dark-blue, 1);
					}

					progress::-moz-progress-bar {
						background-color: rgba($dark-blue, 1);
					}

					#reading-progress {
						position: fixed;
						width: 100%;
						height: 5px;
						z-index: 9999;
						top: 0;
						left: 0;
						display: none;
						@include for-tablet-only {}
						@include phone {
							display: block;
						}
					}

					#reading-progress-fill {
						height: 5px;
						width: 0;
					}

					#reading-progress-fill {
						-webkit-transition: width 100ms ease;
						-o-transition: width 100ms ease;
						transition: width 100ms ease;
						background-color: $dark-blue;
					}
				}
				.content-grid {
					display: grid;
					grid-template-columns: repeat(2,1fr);
					align-items: flex-start;
					gap: 120px;
					position: relative;
					@include for-tablet-only {}
					@include phone {
						grid-template-columns: repeat(1,1fr);
					}
					.content-part {
						.main-content-single-blog {
							p {
								margin-bottom: 32px;
							}
							h4+p {
								margin-top: 16px;
							}
							.content-para {
								margin-bottom: 64px;
								h1 {
									margin-bottom: 24px;
								}
								p {
									font-family: 'gilroy-regular';
									font-style: normal;
									font-weight: 400;
									font-size: 18px;
									line-height: 150%;
									color: $black;
									margin-bottom: 32px;
								}
								figure {
									img {
										width: 698px;
										height: 440px;
										@include for-tablet-only {}
										@include phone {
											width: 100%;
											height: auto;
										}
									}
								}
								&:first-of-type {
									margin-top: 56px;
								}
							}
						}
					}
					.sidebar-div {
						position: sticky;
						top: 90px;
						width: 350px;
						height: 440px;
						background: $black;
						background-image: url('../images/blog/sidebar-bg.png');
						@include for-tablet-only {}
						@include phone {
							display: none;
						}
						.sidebar-content {
							position: relative;
							height: 100%;
							width: 100%;
							display: flex;
							flex-direction: column;
							justify-content: flex-end;
							align-items: flex-start;
							.content {
								padding: 24px 24px 80px 24px;
								h3 {
									color: $white;
									margin-bottom: 8px;
								}
								p {
									color: rgba($white, 0.8);
								}
							}
							.sidebar-social {
								position: absolute;
								bottom: 24px;
								left: 24px;
								ul {
									display: flex;
									gap: 16px;
								}
							}
							.dribbble-button-div {
								position: absolute;
								bottom: -50px;
								right: 16px;
							}
						}
					}
				}
			}
		}
	}
	.single-blog-container {
		.single-blog-content-div {
			background: $white;
			.single-blog-hero {
				background: $background-white;
				position: relative;
				z-index: 1;
				.brief-wrap {
					padding: 98px 0 145px 0;
					@include for-tablet-only {}
					@include phone {
						padding: 0 0 16px 0;
					}
					.cta-back {
						margin-bottom: 8px;
						display: block;
						@include for-tablet-only {}
						@include phone {
							margin-bottom: 16px;
						}
						>img {
							transform: rotate(180deg);
							margin-right: 8px;
						}
					}
					.title-other-details {
						width: 64%;
						@include for-tablet-only {}
						@include phone {
							width: 100%;
						}
					}
					.author {
						margin-top: -40px;
						@include for-tablet-only {}
						@include phone {
							margin: 24px 0 0 0;
						}
						figure {
							display: flex;
							justify-content: flex-end;
							align-items: center;
							@include for-tablet-only {}
							@include phone {
								justify-content: flex-start;
							}
							img {
								width: 40px;
								height: 40px;
								margin-right: 8px;
							}
						}
					}
				}
			}
			.banner-singleblog {
				position: relative;
				z-index: 1;
				margin-top: -8%;
				background: $white;
				@include for-tablet-only {}
				@include phone {
					margin-top: 0;
				}
				&:before {
					position: absolute;
					content: "";
					background: $background-white;
					height: 90px;
					width: 100%;
					z-index: -1;
				}
				figure {
					>img {
						width: 100%;
						height: 400px;
						object-fit: cover;
						object-position: center center;
						@include for-tablet-only {}
						@include phone {
							height: 236px;
						}
					}
				}
			}
		}
	}
}